.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(help.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.content {
    color: white;
    width: 50%;
    position: absolute;
    top: 30%;
    transform: translateY(-50);

}

.content h1 {
    font-size: 100px;
}

.content p {
    font-size: 20px;
}

.button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    background-color: #60d394;
    color: white;
    font-weight: bold;

}
