* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0 10%;
}
.primary-text {
  color: #60d394;
}
.first-letter {
  color: #60d394;
  font-size: 3rem;
}
/* Navigation */
.navbar {
  background-color: #60d394;
  display: flex;
  justify-content: space-between;
}
.nav-left-side {
  padding-left: 10%;
}
.nav-left-side img {
  height: 120px;
  padding-left: 10%;
}
.nav-right-side {
  display: flex;
  padding-right: 10%;
  justify-content: center;
  align-items: center;
}
.nav-right-side ul {
  display: flex;
  flex-direction: row;
}
.nav-right-side ul li {
  margin: 15px;
  list-style: none;
}
.nav-right-side ul li a {
  text-decoration: none;
  color: #fff;
}
.section {
  height: 60vh;
  /* border: solid RED 3px; */
}
/* About Section */
.about-container {
  height: 100vh;
  margin-bottom: 100px;
}
.banner {
  height: 22rem;
  background: linear-gradient(to bottom, transparent 0%, white 200%),
    url("/images/road.avif") no-repeat center center/cover;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  /* border: 2px red solid; */
}
.about-left {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 80vh;
  padding: 5% auto;
  margin: 5% 10%;
}
.about-left h1 {
  text-align: center;
  padding: 4%;
  font-size: 3rem;
}
.about-left p {
  padding-top: 5%;
  line-height: 1.5;
  font-size: 1.1rem;
}
.about-right {
  margin: 5% 5%;
}
.about-right img {
  height: 80vh;
  width: 45vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}
/* Footer */
.footer-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  background-color: #60d394;
  padding-bottom: 30px;
}
.left-side {
  padding-left: 10%;
}
.left-side p {
  color: #fff;
}
.right-side {
  display: flex;
  height: 170px;
  padding-right: 10%;
  justify-content: center;
  align-items: flex-end;
}
.right-side ul {
  display: flex;
  flex-direction: row;
}
.right-side ul li {
  margin: 20px;
  list-style: none;
}
.right-side ul li a {
  text-decoration: none;
  color: #fff;
}
.fa-brands {
  font-size: 2rem;
  color: #aaf683;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
